.top
  #user_videos
    #user_info 
      #user_image
        =image_tag @user.twitter_profile_image_url
      #user_name
        %a{:href => "#{@user.twitter_url}", :target => "_blank"}
          = @user.twitter_handle 
      #user_stats
        Videos: #{@user.videos.count} &bull; Likes: #{@likes}
    #videos_display  
      .video_list_header Video List:
      #framey_content
        %div{:style => "margin-left: 250px; margin-top: 20px"}
          #message_area 
            #flash_message
            #flash_warning
      - @videos.each do |video|
        .video_info{:id => "video_#{video.uid}"}
          .video_thumbnail
            %a{:href => "/videos/#{video.uid}"}
              = image_tag(video.framey_thumbnail_url)    
          .video_twitter_text
            = video.twitter_text 
          .video_age
            = time_ago_in_words video.created_at
            ago
          .video_action
            %a{:href => "javascript: delete_video('#{video.uid}');"}
              delete              
          .video_stats
            .num
              Likes: 
              = video.likes
              Views:
              = video.views

  .clear
.bottom
  #paginator
    = will_paginate @videos      
.clear

